
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
display: flex;
justify-content: center;
align-content: center;
background-color: hsl(0, 0%, 37%);
gap: 100px;

}



h1 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 60px;
    color: #d54d7b; 
    font-family: "Great Vibes", cursive; 
  }


.btonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    height: 600px;
    margin-top: 120px;
    background-color: #CEF0D4;
}

.btns {
  
    height: 50px;
    width: 160px;
    border: none;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-size: 15px;
    font-family: 'Rouge Script', cursive;
    color: white;
    background-color: #d54d7b;
    border-radius: 15px;
    box-shadow: 0 8px #999;
    cursor: pointer;
    opacity: 1;
    
}

.btns:hover {
    opacity: 0.9;
    transition: opacity .2s;  
}

.btns:active {
    
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }

.mainContainer {
    display: flex;
    flex-direction: column;
    
}

.mainCanvas {
    margin-top: 120px;
    position: absolute;
    background-color: hsl(0, 0%, 1%);
    box-sizing: border-box;   
    height: 600px;
    width: 600px;
    z-index: 1;
    
}


#subCanvas {
  display: grid;
  margin-top: 120px;
  position: absolute;
  z-index: 2;
  height: 600px;
  width: 600px;
 }

.square {
  z-index: 3;
  height: auto;
  width: auto;
  border: 1px solid white;
}


.slidecontainer {
   margin-top: 10px;
   z-index: 4;
   height: 10px;
   width: 600px;
   

}


.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1; 
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #04AA6D; 
    cursor: pointer; 
  }

  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  #showCase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin-top: 120px;
    background-color: #CEF0D4;
    text-align: center;
    font-size: 30px;
  }


